.services-container{
    & .service-logo-main{
        background: url('https://source.unsplash.com/1600x900/?nature,dark,day,rain');
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        display: grid;
        & .shadow-div{
            background: linear-gradient(45deg, #00000069, #00000070);
            justify-content: center;
            align-items: center;
            & .img-detail-tg{
                width: 50%;
                margin: auto;
                text-align: center;
                display: flex;
                color: white;
                font-family: serif;
                height: 100%;
                & .aim-p{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    & img{
                        height: 135px;
                    }
                    & h4{
                        font-size: 20px;
                    }
                }
            }
        }
    };
    & div{
        & .service-hd-tg{
            width: 20%;
            margin: auto;
            text-align: center;
            padding: 34px;
            color: white
        }
        & .services-tg{
            padding: 20px;
            & .row{
                margin: 0px;
                & .card{
                    margin: 20px;
                    text-align: center;
                    & .card-body{
                        background: black;
                        color: white;
                    }
                }
            }
        }
    }
}