.actvty-itm{
    text-align: center;
    padding-top: 10px;
}
.hb-prnt-dv{

}
.hb-tl-dv{
    text-align: center;
}
.edtn-prnt-dv{ 
    text-align: 'center';
    padding: 20px; 
}
.edctn-tltl-dv{
    text-align: center;
    padding: 20px;
}