.pf-rw-1{
    margin: 0px;
}
.pfl-bg-dv{
    margin: 0px;
    background: url('../../assets/profile_back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9%;
}

.pf-img{
    width: 100%;
}
.prfl-phto{
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
.prf-tx{
    padding-top: 25px;
}
.pfl-ui-rw{
    margin: 0px;
}
.ul-dv-prfl{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.ul-dv-prfl-cl{
    padding: 2px;
    padding-top: 10px;
    background: lightblue;
}
.pf-rw-2{
    margin: 0px;
}
.prf-hb-prnt-clm{
    padding: 0px;
}
.prf-skl-prnt-clm{
    padding: 0px;
    border-left: 1px solid gray;
}
.pf-rw-2{
    background: white;
}
.prfl-adrs-mn-dv{
    text-align: center;;
}
.hb-rf-adrs-prnt-dv{
    padding: 20px;
}
.adrs-ttl-prnt-dv{
    padding: 20px;
}