.pf-rw-1{
    margin: 0px;
}
.pfl-bg-dv{
    background: url('../../assets/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 80vh;
}
.covwe-inn{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: grid;
    & .row {
        justify-content: center;
        align-self: center;
        & .prf-contnr{
            justify-content: center;
            align-self: center;
            & .pf-img{
                text-align: center
            }
        }
    }
}
.pf-img{
    width: 100%;
}
.prfl-phto{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    border: 4px solid;
    padding: 4px;
}
.prf-tx{
    padding-top: 25px;
}
.pfl-ui-rw{
    margin: 0px;
}
.ul-dv-prfl{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.ul-dv-prfl-cl{
    padding: 2px;
    padding-top: 10px;
    background: lightblue;
}
.pf-rw-2{
    margin: 0px;
}
.prf-hb-prnt-clm{
    padding: 0px;
}
.prf-skl-prnt-clm{
    padding: 0px;
    border-left: 1px solid gray;
}
.pf-rw-2{
    background: white;
}
.prfl-adrs-mn-dv{
    text-align: center;;
}
.hb-rf-adrs-prnt-dv{
    padding: 20px;
}
.adrs-ttl-prnt-dv{
    padding: 20px;
}