.img-dv{
    width: 80%;
    margin: auto;
    height: 400px;
}

.abt-me-img{
    width: 100%;
    height: inherit;
    border-radius: 7px;
}
.cntnr-chld-dv{
    padding: 10%;
}

.abtme-jb-ttl-dv{
    padding: 5px;
    padding-left: 0px;
}

.abt-me-flw-icn{
    padding-top: 44px;
    display: flex;
    justify-content: space-between;
    color: wheat;
}
.abtme-mn-name-dv{
    color: white;
}

.abtme-jb-ttl-dv{
    color: #d98404;
}
.abtme-dscrptn{
    color: ghostwhite;
}
.padding-zero{
    padding: 0px;
}