$AboutSideNavBgColor_gray:#1a222e;
$AboutSideNavBgColor_Cyan:#48ad7e;
$AboutSideNavTextColor_white: #fcfcfc;
$AboutSideNavTextColor_in_graymode: #858a92;
$icon_white_color: #fcfcfc;
$icon_green_color: #48ad7e;
$icon_green_background_color: #48ad7e; 
$icon_white_background_color: #fcfcfc; 

@mixin giveSideNavMode($isDarkMode){
    @if $isDarkMode {
        background: $AboutSideNavBgColor_gray;
        color: $AboutSideNavTextColor_in_graymode;
    }
    @else{
        background: $AboutSideNavBgColor_Cyan;
        color: $AboutSideNavTextColor_white;
    }
}
@mixin givePersonalInfo_IconMode($isDarkMode) {
    @if $isDarkMode {
        & .personal-info{
           & i{
            background: $icon_green_background_color;
            color: $icon_white_color;
          }
        };
    }
    @else{
        & .personal-info{
            & i{
                background: $icon_white_background_color;
                color: $icon_green_color;
            }
        };
    }
}
.about-main{
    display: flex;
    & .row{
        margin: 0px;
        max-width: 100%;
        & .side-dark-mode{
            @include giveSideNavMode($isDarkMode:true);
            @include givePersonalInfo_IconMode($isDarkMode: true)
        };
        & .side-white-mode{
            @include giveSideNavMode($isDarkMode:false);
            @include givePersonalInfo_IconMode($isDarkMode: false)
        }
        & .about-sidenav{
            min-width: 250px;
            max-width: 100%;
            min-height: 100vh;
            text-align: center;
            padding: 20px;
            & .about-sidenav-main{
                display: flex;
                flex-direction: column;
                height: inherit;
                & .personal-info{
                    border-bottom: 1px solid gray;
                    & div{
                        padding: 4px;
                    }
                    & .profile-dv{
                        & img{
                            width: 110px;
                            height: 110px;
                            border-radius: 55px;
                        }
                    }
                    & .profile-dv-txt{
                        & h6{
                            line-height: 1.4
                        }
                    }
                    & .link-parent{
                        & div{
                            display: flex;
                            justify-content: space-around;
                            margin: auto;
                            & div{
                                & i{
                                    height: 32px;
                                    width: 32px;
                                    border-radius: 16px;
                                    padding: 7px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                };
                & .pages-section{
                    border-bottom: 1px solid gray;  
                    & div{
                        padding: 4px;
                    }
                    & .pages-section-1{
                        & .pages-section-1-1{
                            & .pages-items-parent{
                                width: 100%;
                                padding-top: 10px;
                                margin: auto;
                                & div{
                                    width: 90%;
                                    margin:auto;
                                    padding: 5px;
                                    text-align: start;
                                    cursor: pointer;
                                }
                            }
                            
                        }& .pages-section-hire{
                            padding: 20px; 
                        }
                    }
                }
                & .mode-section{
                    & div{
                        padding: 4px;
                        & h6{
                            margin-top: 36px;
                        }
                    }
                }
            }
            & .about-description-side{
                border-bottom: 1px solid gray;
            }
        }
        & .about-description-side{
            background: white;
            padding: 0px;
            & .body-personal-info{
              display: flex;
              padding: 60px;
              border-bottom: 1px solid #80808052;
              & .body-personal-info-desc{
                  width: 50%;
                  height: inherit;
                  & .body-personal-info-desc-about{
                      padding-top: 10px;
                      font-size: 16px 
                  }
                  & .body-personal-info-desc-btns{
                      & div{
                          display: flex;    
                          width: 274px;
                          justify-content: space-between
                      }
                  }
              }
              & .body-personal-info-profile{
                width: 50%;
                height: inherit;
                & .body-personal-info-profile-img-parent{
                    height: inherit;
                    & img{
                        height: 30vh;
                    }
                }  
              }  
            };
            & .body-personal-work{
                padding: 60px;
                & .body-personal-work-whatIdo{
                    & .body-personal-work-hdng{
                        border-left: 5px solid #48ad7e;
                        padding: 7px;
                        & h4{
                            padding: 10px;
                        }
                    };
                    & .body-personal-work-about{
                        padding: 25px;
                        padding-left: 0px;
                        & p{
                            font-size: 16px;
                        }
                    }
                }
                & .body-personal-work-mytechs{
                    & .row{
                        & .skill-card{
                            & .card{
                                border: 0px solid;
                            }
                        }
                    }
                }
            }   
        }
    } 
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b7358;
    border:1px solid #94cab0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $AboutSideNavBgColor_Cyan;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $AboutSideNavBgColor_gray;
    border: 1px solid #94cab0;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }