.inpt-field-dv{
    border: 0px;
    border-bottom: 1px solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    &:focus{
        border: white;
    }
}
.inpt-lbl{
    margin-bottom: 0px;
   
}

.frm-pdng{
    padding: 27px;
    padding-top: 15px;
}

.btn-clm{
    text-align: center;
}
.main-titl-dv{
    text-align: center;
}
.inpt-dv-slf{
    padding: 10px;
}
.btn-sbmt{
    width: 50%;
}
.cntct-mn-dv{
     width: 70%; background: dimgray;
     color: ghostwhite;
     margin: auto; 
     min-height: 50vh;
     padding: 10px;
     border-radius: 5px;
     padding-bottom: 23px;
     box-shadow: 0px 1px 10px 10px #17a2b88c;
     font-family: fantasy;
}

.contact-main{
    background: url('https://source.unsplash.com/1600x900/?nature,water');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .contme-hding{
        & p{
            text-align: center;
            color: white;
            width: 80%;
            margin: auto;
        }
    };
    & .addrss-mn-dv{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        & .location-hd{
            display: flex;
            background: linear-gradient(45deg, #00000066, #00000045);
            margin: auto;
            color: white;
            padding: 10px;
            width: 70%;
            margin-top: 3%; 
            & p{
                padding-left: 20px;
                & h4{
                    font-size: 16px;
                }
            }
            & h4{
                & i{
                    padding: 6px;
                    color: black;
                    font-size: 35px;
                    height: 48px;
                    width: 48px;
                    background: white;
                    text-decoration: none;
                    border-radius: 25px;
                    margin: 5px 2px;
                }
            }
        }
    }
}