
.contact-main{
    background: url('https://source.unsplash.com/1600x900/?nature,water');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    & .shadow-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg, #0000006b, #00000059);
        min-height: inherit;
        & .contme-hding{
            margin-top: 10%;
            & p{
                padding: 30px;
                text-align: center;
                color: white;
                width: 80%;
                margin: auto;
                line-height: 1.4;
            }
        };
        & .addrss-mn-dv{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            & div{
                padding-top: 20px;
                & .location-hd{
                    display: flex;
                    background: linear-gradient(45deg, #00000066, #00000045);
                    margin: auto;
                    color: white;
                    padding: 10px;
                    width: 70%;
                    margin-top: 3%; 
                    border-radius: 5px; 
                    & p{
                        padding-left: 20px;
                        & h4{
                            font-size: 16px;
                        }
                    }
                    & h4{
                        & i{
                            padding: 6px;
                            color: black;
                            font-size: 35px;
                            height: 48px;
                            width: 48px;
                            background: white;
                            text-decoration: none;
                            border-radius: 25px;
                            margin: 5px 2px;
                        }
                    }
                };
            }
            & .contact-form{
                    width: 50%;
                    background: white;
                    padding: 20px;
                    border-radius: 8px;
                    margin: auto;
                    margin-top: 10px;
                    height: 100%;
                    & form{
                        & .form-group{
                            margin: 0px;
                            border-bottom: 1px solid darkgray;
                            padding-top: 20px;
                            & .input-col{
                                padding: 0px;
                                & input{
                                    padding-left: 0px;
                                    border: 0px;
                                }
                                & textarea{
                                    padding-left: 0px;
                                    width: 100%;
                                    border: 0px;
                                }
                            }
                        }
                        & .row{
                            margin: 0px;
                            & .btn{
                                margin-top: 36px;
    
                            }
                        }
                    }
                }
        }
    }
}

@media only screen and (max-width: 760px){
    .contact-main{
        & .shadow-contact{
            & .contme-hding{
                margin-top: 40%;
            };
            & .addrss-mn-dv{
                & div{
                    & .location-hd{
                        width: 90%
                    }
                }  
                & .contact-form{
                    width: 90%;
                }
            }
        }
    }
}