.sm-crsl-pdng{
        height: 350px;
        width: 250px;
        padding: 3px;
        border-radius: 16px;
}
.fvrt-itm-ttl{
    text-align: start;
    padding: 7px;
    color: white;
    background: #6c757d;
    border: 1px solid goldenrod;
    border-radius: 5px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin-left: auto;
    margin-right: auto;
    width: 97%;  
}
.crsl-cntrl-pdng{
    top: 78px !important;
}
.zoom {
    
    &:hover{
        transform: scale(1.1);
    }
    transition: 0.5s;
    margin: 0 auto;
  }