
.hdr-main-dv{
    display: inline;
}
.ul-dv{
    margin: auto;
}
.nv-bdy{
    width: 100%;
}
.nv-uitm-dv{
    width: 100%;
    background: linear-gradient(90deg, ccc2c2e0, black);
    text-align: end;
}
.hdr-lst-itm{
    width: 100px
}
.ui-item-dv{
    width: 100%;
    justify-content: space-evenly;
    text-align: start;
    padding-left: 20px;
}
.marqueeStyle{
    color: #ccc2c2e0;
    font-size: 14px;
}
.marq-parent-dv{
    padding-left: 95px;
    padding-right:95px;
}
.brnd-txt-size{
    font-size: 20px;
}
.hdr-cstm-dv{
    font-size: 18px;
    color: white !important;
}
.hvr-cls{
    text-align: center;
}
.hvr-cls:hover{
    border-bottom: 4px solid white;
    text-align: center;
   
}
.hvr-cls:hover a{
    color: #d98406;
}
.sticky-header-transparent{
    padding-left: 0px;
    padding-right: 0px;
    background: linear-gradient(180deg,#0000002b, #ab9c9c00);
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.5s
}
.sticky-header-with-color{
    padding: 14px;
    padding-left: 0px;
    padding-right: 0px;
    background:  #3e3a3a;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 1s;
}
.normal-header{
    padding: 14px;
    padding-left: 0px;
    padding-right: 0px;
    background: #3e3a3a;
    width: 100%;
    z-index: 100;
    transition: 0.5s;
}
.hdr-cstm-mn-dv{
    padding: 14px;
    padding-left: 0px;
    padding-right: 0px;
    background: linear-gradient(180deg, black, #ab9c9c94);
    position: fixed;
    width: 100%;
    z-index: 100;
}
.hdr-lgo{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.nv-brnd-dv{
    padding-left: 10px;
}

.uppercase{
    text-transform: uppercase;
}