.ftr-rw-1{
    margin: 0% !important;
    text-align: center;
}
.ftr-cstm-style{
    background: dimgray;
    color: #ffffffe0;
}
.ftr-icn-cls{
    font-size: 30px;
    margin-top: 10px;
    color: white;

}

.ftr-social-icon-tab{
    display: flex; 
    justify-content: center
}

.ftr-titl-cls{
    font-size: 20px;
    margin-left: 10px;
    text-transform: uppercase;
}
.address-link{
    color: #d98404 !important;
}
.ftr-pr-dv{
    width: 80%;
    margin: auto;
    text-align: justify;
}