.big-carousel{
    background: url('https://source.unsplash.com/1600x900/?nature,water');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    & .big-carousel-div-1{
        display: flex;
        height: 100%;
        align-items: center;
        width: 100%;
        background: linear-gradient(
            45deg
            , #00000085, #00000078);
        & .hm-description{
            padding-left: 140px;
            width: 50%;
            & p{
                width: 100%;
                color: white;
                font-family: 'Times New Roman', Times, serif;
                transition: 1s;
                padding: 16px;
                align-self: center;
                & .intro-tg{
                    line-height: 2;
                    font-size: 25px;
                }
                & h3{
                    line-height: 1.3;
                    font-size: 20px
                }
            }
        }
        & .hm-bg-dp{
            background: transparent;
            justify-content: center;
            height: inherit;
            & img{
                height: inherit;
                transition: 1s;
            }
        }
    }
}
@media only screen and (max-width: 900px){
    .big-carousel {
        & .big-carousel-div-1{
            & .hm-description{
                width: 100%;
                padding: 0px;
            }
            & .hm-bg-dp{
                display: none
            }
        }
    }
}