.crsl-itm{
    height: 300px;
}
.crsl-itm-img{
    width: 100%;
    height: 300px;
}
.crsl-dot li{
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
.crsl-icn-sz{
    font-size: 25px !important;
}